<%= simple_form_for(@shortcut) do |f| %>
  <% if @shortcut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shortcut.errors.count, "error") %> prohibited this shortcut from being saved:</h2>

      <ul>
      <% @shortcut.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :id, :as => :hidden %>
  <%= f.input :title, placeholder: 'Shortcut Title' %>
  <%= f.input :description, placeholder: 'Brief description for shortcut' %>
  <br />

    <%= f.simple_fields_for :steps do |builder| %>
      <%= builder.input :id, :as => :hidden %>
      <%= builder.input :step_number, placeholder: 'Step number' %>
      <%= builder.input :text, as: :text, placeholder: 'Step text' %>
      <%= builder.input :image_url, placeholder: 'http://i.imgur.com/*.png' %>
    <% end %>

    <%= f.simple_fields_for :tags do |builder| %>
      <%= builder.input :id, :as => :hidden %>
      <%= builder.input :name, placeholder: 'Tag name' %>
    <% end %>

    <br />

  <%= f.button :submit %>

  <% puts params %>

<% end %>