<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shortcuts.each do |shortcut| %>
      <tr>
        <td><%= shortcut.title %></td>
        <td><%= shortcut.description %></td>
        <td><%= link_to 'Show', shortcut %></td>
        <td><%= link_to 'Edit', edit_shortcut_path(shortcut) %></td>
        <td><%= link_to 'Destroy', shortcut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>