<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shortcuts.each do |shortcut| %>
      <tr>
        <td><%= shortcut.title %></td>
        <td><%= shortcut.description %></td>
        <td><%= link_to 'Show', shortcut %></td>
        <% if current_user == shortcut.user %>
          <td><%= link_to 'Edit', edit_shortcut_path(shortcut) %></td>
          <td><%= link_to 'Destroy', shortcut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
-->


<div class="list-group">
  <% @shortcuts.each do |shortcut| %>
    <%= link_to shortcut, class: "list-group-item list-group-item-warning" do %>
      <%= shortcut.title %>
      <span class="badge">14</span>
    <% end %>
  <% end %>
</div>


<%= will_paginate @shortcuts %>