

<%= form_tag shortcuts_path, :method => 'get', :id => "shortcuts_search", :class => "form-wrapper cf" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for a shortcut tag here" %>
    <%= button_tag "Search Tags", :class => "search-submit", :tag => nil %>
<% end %>

<div id="shortcuts_table">
  <%= render 'shortcuts_table' %>
</div>

<%= link_to 'New Shortcut', new_shortcut_path %>
