<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shortcut.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shortcut.description %>
</p>

<%= link_to 'Edit', edit_shortcut_path(@shortcut) %> |
<%= link_to 'Destroy', @shortcut, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', shortcuts_path %>
