<!-- <p id="notice"><%= notice %></p> -->

  <h1><%= @shortcut.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @shortcut.description %>
</p>

<p>
  <strong>Steps:</strong><br />
  <% @steps.each do |step| %>
    <%= step.step_number %>. <%= step.text %> <br />
    <% if step.image_url %>
      <%= image_tag step.image_url %> <br />
    <% end %>
  <% end %>
</p>

<p>
  <strong>Tags:</strong><br />
  <% @tags.each do |tag| %>
    <% if tag == @tags.last %>
      <%= tag.name %>
    <% else %>
      <%= "#{tag.name}, " %>
    <% end %>
  <% end %>
</p>

<p>
  <em>Last modified on <%= @last_modified %> by </em><strong><%= @user %></strong>
</p>

<% if current_user == @shortcut.user %>
  <%= link_to 'Edit', edit_shortcut_path(@shortcut) %> |
  <%= link_to 'Destroy', @shortcut, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', shortcuts_path %>
